* {
    margin: 0;
    padding: 0;
}

.todo-header{
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: dodgerblue;
    letter-spacing: 1px;
    margin-top: 100px;
}

.todo-fields{
    display: grid;
}

.todo-information{
    display: flex;
}

.todo-add {
    margin-top: 100px;
}

.add-container{
    margin-top: 10px;
    margin-bottom: 10px;
}
footer{
    background: honeydew;
}