* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1020px;
    font-family: 'Lato', sans-serif;
    outline: none;
    background: #696d7a;
    margin: 0 auto;
    word-wrap: break-word;
}

.todo-header{
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    margin-top: 55px;
}

.todo-fields{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.todo-title {
    margin: 15px 0;
    padding: 0 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 20px;
    text-align: center;
}

.todo-checkbox {
    padding-right: 5px;
}

.todo-date {
    padding-left: 5px;
}

.todo-descriptions{
    padding: 5px;
    word-wrap: break-word;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;

}

.delete-button{
    border: none;
    background: none;
}

.delete-button:hover{
    color: red;
    cursor: pointer;
}

.todo-checkbox:hover {
    transform: scale(1.2);
}

.todo-information{
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    padding-left: 5px;
}

.todo-add {
    margin-top: 30px;
}

.add-container{
    text-align: center;    
}
footer{
    width: 100%;
    background: #2d303a;

}
 .todo-item {
     max-width: 250px;
     max-height: 250px;
     color: white;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
 }

 .todo-item:hover {
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.8);
 }


 .crossing{
     text-decoration: line-through;
     color: red;
 }

 .todo-input {
     width: 200px;
     height: 50px;
     margin-bottom: 10px;
     padding: 10px;
     font-size: 14px;
     background: #3498DB;
     color: white;
     border-radius: 8px;
     border: none;
 }

 .todo-input::placeholder{
     color: #b9b2b267;
 }


 .add-button {
     color: whitesmoke;
     border: none;
     border-radius: 10px;
     background: #3498DB;
 }

 .add-button:hover{
     cursor: pointer;
 }

 .add-headedr {
     color: white;
 }

 @media screen and (max-width: 765px) {
     .todo-header {
        margin-top: 20px;
     }
    .dropdown {
        margin-top: 15px;
        left: 39% !important;
    }
    .todo-add {
        margin-top: 20px;
    }
 }


 @media screen and (max-width: 500px) {
    .dropdown {
        left: 33% !important;
    }
 }